HTML {
  background-color: white;
}

BODY {
  overflow: auto !important;
  height: auto !important;
  padding: 0.5em !important;
}

.login { 
  display: none !important; 
}

.header {
  position: static !important;
  border-bottom: solid 1px #C0C0C0;
  padding: 0 !important;
  margin-bottom: 1em !important;
}

.page {
  position: static !important;
  padding: 0 !important;
  /*line-height: initial !important;*/
}

H1 {
  display: block !important;
  font-size: 2rem !important;
  margin-top: 0 !important;
  /*margin-bottom: 0 !important;*/
}

U A {
  text-decoration: underline !important;
}

CODE {
  display: inline !important;
}

H1,H2,H3,H4 {
  margin-top: 0 !important;
}